div{
    display: inline;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 50px;
padding-left: 350px;
    border-top: 5px;
    
}
h1{
    font-display: center;
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.a{
    font-size: 30px;
    justify-items: center;
   

    
    
}
